---
title: Archive
layout: layouts/base.njk
eleventyNavigation:
  key: Archive
  order: 3
---

{# todo: speaker description? #}

<section>
  <ul>
    {%- for talk in talks -%}
    <li class="mb-8">
      <span>{{ talk.title }}</span>
      </br>
      <span class="italic">
        <a href="{{talk.link}}" class="underline">
          {{ talk.event }}
        </a>
        on {{ talk.date | readableDate }}
      </span>
    </li>
    {%- endfor -%}
  </ul>
</section>