---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="my-8">
    <h1 class="text-xl">Content not found. Go <a href="/" class="underline hover:decoration-pink-500">home</a>.</h1>
</section>
