---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p class="my-8 text-center italic">
    Hi, I'm Christoph and live in Austria!
</p>

<section>
    <h1 class="text-2xl">Socials</h1>
    <ul>
        {%- for social in metadata.socials -%}
        <li>
            <a href="{{social.url }}" class="underline hover:decoration-pink-500">
                {{ social.name }}
            </a>
        </li>
        {%- endfor -%}
    </ul>
</section>

{# todo: last 3 posts #}