---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="flex flex-row justify-between mb-4">
  <div>
    <p class="py-1">👋 Hi, I'm</p>
    <h1 class="text-4xl text-slate-400">{{ metadata.author.name }}</h1>
    <p class="py-1">a Software Engineer from Austria 🇦🇹</p>
  </div>
  <img src="/../public/img/profile.png" alt="A headshot of myself" class="rounded-full size-32 border border-slate-400 shadow-inner">
</section>

<section>
  <ul class="flex flex-wrap gap-1.5">
    {%- for social in metadata.socials -%}
    <li>
      <a class="inline-flex items-center justify-center gap-1 px-2 rounded-full border hover:border-pink-500" target="_blank" href="{{ social.url }}">
        <figure class="size-4 items-center">
          {% icon social.icon, class="fill-white" %}
        </figure>
        <span class="select-none">
          {{ social.name }}
        </span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
</section>
