<div class="card border-0 shadow-sm mb-3 bg-white">
    <div class="card-body">
        <h5 class="card-title">
            {{ include.item.title }}
        </h5>
        <h6 class="card-subtitle text-muted">
            {{ include.item.subtitle }}
            <span class="badge badge-info">{{ include.item.year }}</span>
        </h6>
        <div class="technologies">
            {% include badges.html item=include.item.technologies %}
        </div>
        {{ include.item.description | markdownify }}
        {% if include.item.github_url %}
            <a href="{{ include.item.github_url }}">
                <i class="fab fa-github fa-lg"></i> Github
            </a>
        {% endif %}
    </div>
</div>