<div class="card border-0 shadow mb-3 bg-white">
    <div class="card-body">
        <h5 class="card-title">
            {{ include.item.title }}
        </h5>
        <h6 class="card-subtitle text-muted">
            {{ include.item.subtitle }}
            <span class="badge badge-info">{{ include.item.year }}</span>
        </h6>
        <div class="technologies">
            {% include badges.html item=include.item.technologies %}
        </div>
        <p class="card-text">
            {{ include.item.description | markdownify }}
        </p>
        {%- if include.item.url -%}
            <a href="{{ include.item.url }}">Github</a>
        {%- endif -%}
    </div>
</div>