<div class="col item">
    <div class="row d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ include.item.title }}</h5>
        <div>
            {% if include.item.year %}
                {% include badges.html item=include.item.year category="info" %}
            {% else %}
                {{ include.item.from }} - {{ include.item.to | default: 'Present' }}
            {% endif %}
        </div>
    </div>
    {% if include.item.company %}
    <div class="row">
        <a class="h6 mb-0 company" href="{{ include.item.company.url }}">{{ include.item.company.name }}</a>
    </div>
    {% endif %}
    <div class="row">
        <h6 class="location text-muted">{{ include.item.location }}</h6>
    </div>
    {% if include.item.technologies %}
    <div class="row">
        <h6>
            {% include badges.html item=include.item.technologies %}
        </h6>
    </div>
    {% endif %}
    <div class="row description">
        {{ include.item.description | markdownify }}
    </div>
    {% if include.item.thesis %}
    <div class="row">
        <em>Thesis: {{ include.item.thesis }}</em>
    </div>
    {% endif %}
</div>