<!doctype html>
<html lang="en" dir="ltr">
  <head>    
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" type="text/css" href="/style.css?v={% version %}" />

    <title>{{title}}</title>

    <!-- Icons -->
    {# <link rel="shortcut icon" type="image/png" href="/images/x16-favicon.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/images/x32-favicon.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/images/x64-favicon.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/images/x256-favicon.png" sizes="256x256" />
    <link rel="apple-touch-icon" type="image/png" href="/images/x256-favicon.png" /> #}
  </head>
  <body class="bg-white dark:bg-slate-800">
    <header class="flex items-center w-full">
      <div class="container mx-auto">
        <div class="relative flex items-center justify-between mx-4">
          <div class="flex items-center justify-between w-full px-4 m-8">
            <div>
              <nav class="absolute right-4 top-full w-full max-w-[250px] rounded-lg bg-white py-5 px-6 shadow lg:static lg:block lg:w-full lg:max-w-full lg:shadow-none dark:bg-dark-2 lg:dark:bg-transparent">
                <ul class="block lg:flex">
                  {%- for item in collections.page -%}
                  <li>
                    <a href="{{ item.url }}" 
                      class="flex py-2 lg:ml-12 lg:inline-flex text-lg font-bold 
                        hover:text-dark dark:text-white">
                      {{ item.data.title }}
                    </a>
                  </li>
                  {%- endfor -%}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="text-center mx-16 text-slate-500 dark:text-white">
      {{ content | safe }}
    </main>

    <footer class="mt-0 text-center text-base text-slate-500 dark:text-slate-400">
      <p>&copy; {{ config.author }}</p>
    </footer>
  </body>
</html>