<!doctype html>
<html lang="en" dir="ltr">
  <head>    
    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" type="text/css" href="/style.css?v={% version %}" />

    <title>{{title}}</title>

    <!-- Icons -->
    {# <link rel="shortcut icon" type="image/png" href="/images/x16-favicon.png" sizes="16x16" />
    <link rel="shortcut icon" type="image/png" href="/images/x32-favicon.png" sizes="32x32" />
    <link rel="shortcut icon" type="image/png" href="/images/x64-favicon.png" sizes="64x64" />
    <link rel="shortcut icon" type="image/png" href="/images/x256-favicon.png" sizes="256x256" />
    <link rel="apple-touch-icon" type="image/png" href="/images/x256-favicon.png" /> #}
  </head>
  <body class="mx-16 my-8 lg:mx-64 bg-white dark:bg-slate-800">
    <header class="mb-8 text-center text-slate-500 dark:text-slate-400">
      <h1 class="text-4xl">Christoph M&uuml;llner</h1>
      <h2 class="text-xl">Software Engineer</h2>
    </header>
    <nav class="sticky top-0 flex justify-around bg-white dark:bg-slate-800/30 backdrop-blur-sm">
      {%- for item in collections.page -%}
      <a href="{{ item.url }}" 
        class="py-2 text-lg dark:text-white {{ 'underline' if title == item.data.title}}">
        {{ item.data.title }}
      </a>
      {%- endfor -%}
    </nav>

    <main class="mt-8 text-slate-500 dark:text-white">
      {{ content | safe }}
    </main>

    <footer class="mt-0 text-center text-base text-slate-500 dark:text-slate-400">
      <p>&copy; {{ config.author }}</p>
    </footer>
  </body>
</html>