---
---

@import "{{ site.theme }}";

.item {
    margin-top: 10px;

    .location {
        font-size: 0.9rem;
    }

    .description {
        margin-top: 0;

        p {
            margin: 0;
        }
    }
}

.card {
    margin-top: 10px;
}

.section {
    margin-top: 2rem;
}