---
---

@import "{{ site.theme }}";

.item {
    margin-top: 10px;

    .location {
        font-size: 0.9rem;
    }

    .description {
        margin-top: 0;

        p {
            margin: 0;
        }
    }
}

.card {
    margin-top: 10px;
}

.section {
    margin-top: 2rem;
}

.site-footer {
    padding: 1.5rem 0 2.5rem 0;
    color: #999;
    border-top: .05rem solid #e5e5e5;
}

.socials {
    a {
        color: #999;
        padding: 10px;
        text-decoration-line: none;
    }
}