---
title: resume
layout: default
tags: page
modified: 2023-12-27 00:00:00
order: 1
---

<p class="my-8 text-center italic">
Software Engineer &amp; Product Owner at Dynatrace
</p>

<section>
  <h2 class="text-xl font-extrabold">Experience</h2>
  <ul>
  {%- for experience in cv.experiences -%}
    <li class="mb-8">
      <span class="italic">
        {{ experience.title }}
        at
        <a href="{{ experience.company.url }}" class="underline hover:decoration-pink-500">
          {{ experience.company.name }}
        </a>
      </span>
      <p>
        {% markdown %}
        {{ experience.description }}
        {% endmarkdown %}
      </p>
    </li>
  {%- endfor -%}
  </ul>
</section>

<section>
  <h2 class="text-xl font-extrabold">Education</h2>
  <ul>
  {%- for education in cv.educations -%}
    <li class="mb-8">
      <span class="italic">
        {{ education.title }}
        at
        {{ education.location }}
      </span>
      {# <p>
        {% markdown %}
        {{ education.description }}
        {% endmarkdown %}
      </p> #}
    </li>
  {%- endfor -%}
  </ul>
</section>