---
title: resume
layout: default
tags: page
modified: 2023-12-27 00:00:00
permalink: "/resume"
order: 1
---

<p class="my-8 text-center italic">
Software Engineer &amp; Product Owner at Dynatrace, developing Kubernetes Operator to simplify deployment of obsvervability components on Kubernetes clusters.
</p>

<section class="mt-8">
  <h2 class="text-xl font-extrabold">Experience</h2>
  <ul>
  {%- for experience in cv.experiences -%}
    <li class="mb-8">
      <p class="italic">
        {{ experience.title }}
        at
        <a href="{{ experience.company.url }}" class="underline hover:decoration-pink-500">
          {{ experience.company.name }}
        </a>
      </p>
      <p>
        {{ experience.from }}
        {%- if experience.to -%}
        <span> - </span>
        {{ experience.to }}
        {%- endif -%}
      </p>
      <p>
        {% markdown %}
        {{ experience.description }}
        {% endmarkdown %}
      </p>
      <ul class="flex flex-row">
        {%- for technology in experience.technologies -%}
        <li class="p-1">
          {{technology}}
        </li>
        {%- endfor -%}
      </ul>
    </li>
  {%- endfor -%}
  </ul>
</section>

<section class="mb-8">
  <h2 class="text-xl font-extrabold">Education</h2>
  <ul>
  {%- for education in cv.educations -%}
    <li class="flex justify-between">
      <span>
        {{ education.location }}-{{ education.degree }}
      </span>
    
      <span>
        {{ education.from }}-{{ education.to }}
      </span>
    </li>
  {%- endfor -%}
  </ul>
</section>