---
import BaseLayout from '../layouts/BaseLayout.astro';
import Talk from '../components/Talk.astro';

import { Image } from 'astro:assets';
import speakerImage from '../assets/speaker.png';

import { getCollection } from 'astro:content';

const talks = await getCollection('talks');
---

<BaseLayout title="Talks">
	<section class="mb-8">
		<h1 class="text-3xl font-extrabold">Speaker</h1>
		<div class="flex flex-row justify-between ">
			<p class="italic">
			Christoph is a Software Engineer and Product Owner at Dynatrace working on simplifying observability in Kubernetes.
			</p>
			<div class="flex-none">
				<Image src={speakerImage} alt="A picture of myself during a talk" class="rounded-md size-32 border border-slate-400 shadow-inner">
			</div>
		</div>
	</section>

	<section>
		<h1 class="text-3xl font-extrabold">Talks</h1>
		<ul>
			{talks.reverse().map(talk => (
				<Talk talk={talk} />
			))}
		</ul>
	</section>
</BaseLayout>
