---
import HeaderLink from './HeaderLink.astro';
---

<header class="sticky top-0 backdrop-blur-sm text-lg flex flex-wrap p-4">
	<nav class="flex items-center">
		<ul class="flex gap-4">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/talks">Talks</HeaderLink>
		</ul>
	</nav>
</header>
