<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{ config.author }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="canonical" href="{{ config.url }}{{ page.url }}">
    <link rel="stylesheet" type="text/css" href="/tailwind.css?v={% currentBuildDate %}" />

    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body class="flex flex-col min-h-screen mx-16 lg:mx-64 bg-slate-800">
    <header class="m-8 text-center text-slate-400">
      <h1 class="text-4xl">{{ config.author }}</h1>
      <h2 class="text-xl">Software Engineer</h2>
    </header>
    <nav class="sticky top-0 bg-slate-800/30 backdrop-blur-sm">
      <ul class="flex justify-around">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="py-2 text-lg text-white {{ 'underline' if entry.url == page.url}}">
          <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>
    </nav>

    <main class="grow text-white">
      {{ content | safe }}
    </main>

    <footer class="mb-8 text-slate-400">
      <p>&copy; {{ config.author }}</p>
    </footer>

    <!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
  </body>
</html>