<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{ metadata.author.name }}</title>
    <meta name="description" content="{{ metadata.description }}">

    <link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
    <link rel="stylesheet" type="text/css" href="/tailwind.css?v={% currentBuildDate %}" />

    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body class="flex flex-col min-h-screen max-w-2xl m-auto bg-slate-800 text-white">
    <header class="sticky top-0 bg-slate-800/30 backdrop-blur-sm text-lg flex flex-wrap p-4">
      <a href="/" class="mr-8">
        <figure class="size-12 items-center">
          {% icon "lucide:mountain", class="size-full hover:stroke-pink-500" %}
        </figure>
      </a>
      <nav class="flex items-center">
        <ul class="flex gap-4">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="hover:decoration-pink-500 hover:underline {{ 'underline' if entry.url == page.url}}">
            <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </header>

    <main class="grow p-4">
      {{ content | safe }}
    </main>

    <footer class="mb-8 p-4 text-slate-400">
      <p>&copy; {{ metadata.author.name }}</p>
    </footer>

    <!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
  </body>
</html>